
<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="end">
      <ion-button (click)="alumnoMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary" style="text-align: center;">Escanear QR</ion-title>
    <ion-back-button defaultHref="/alumnomenu" color="primary" slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>


<ion-content>
<br>
<br>
<br>
<br>
<div style="display: flex; justify-content: center;">
  <img src="assets/beedce7109ab7228d1c6f4d028f30b08.gif" >
</div>
</ion-content>

<ion-content class="ion-padding"> 
  <ion-content >
    <ion-button (click)="Enviar()" icon="settings" expand="block" fill="solid" color="warning" shape="round">
      <ion-icon slot="end" name="camera"></ion-icon>
      Escanear QR
    </ion-button>
  </ion-content>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="text-align: center; font-size: small;">@RegistrApp Suazo-Ulloa</ion-title>
  </ion-toolbar>
</ion-footer>