<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <ion-title color="warning" class="title">Mis Datos Personales</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="alumnoMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="warning"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="custom-card">
    <ion-list *ngIf="info" class="custom-list">
      <ion-item class="custom-item">
        <ion-label>Nombre: {{info.fullname}}</ion-label>
        <ion-icon (click)="presentAlertPrompt()" slot="end" name="create-outline"></ion-icon>
      </ion-item>
      <ion-item class="custom-item">
        <ion-label>Email: {{info.email}}</ion-label>
      </ion-item>
      <ion-item class="custom-item">
        <ion-label>Tipo de usuario: {{info.usuario}}</ion-label>
      </ion-item>
    </ion-list>
    
  </ion-card>
</ion-content>
