<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>generarQR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Asistencia QR</ion-title>
    </ion-toolbar>
  </ion-header>

<!-- Utiliza *ngIf para mostrar u ocultar el input y el botón según la variable mostrarQR -->
<ion-item *ngIf="!mostrarQR">
  <ion-label position="floating">Asignatura - Sala</ion-label>
  <ion-input [(ngModel)]="texto" [readonly]="mostrarQR" required></ion-input>
</ion-item>
<ion-text *ngIf="!mostrarQR && mostrarError" color="danger">¡Necesitas rellenarlo para generar el QR!</ion-text>

<br><br>

<!-- Mostrar el código QR solo si la variable mostrarQR es verdadera -->
<qrcode *ngIf="mostrarQR" [qrdata]="texto" [width]="400"></qrcode>

<!-- Botón que activa la generación del código QR y valida que el campo no esté vacío -->
<ion-button *ngIf="!mostrarQR" (click)="generarQR()">Generar QR</ion-button>

<!-- Botón "Regresar" que aparece después de generar el QR y redirige a otra página -->
<ion-button *ngIf="mostrarQR" (click)="regresar()">Regresar</ion-button>
</ion-content>

