<ion-content>
  <div class="header">
    <ion-title class="title">¡Regístrate!</ion-title>
    <p class="subTitle">Ingresa tus datos para enrolarte en la App</p>
  </div>
  <div class="ion-padding">
    <form [formGroup]="registroForm" (ngSubmit)="registrar(registroForm)">
      <ion-item>
        <ion-input formControlName="fullname" type="text" placeholder="Nombre y Apellido" class="input"></ion-input>
      </ion-item>
      <div style="color:red; font-size: small;" *ngIf="registroForm.controls['fullname'].invalid && (registroForm.controls['fullname'].dirty || registroForm.controls['fullname'].touched)" class="alert alert-danger">
        El nombre es obligatorio.
      </div>
      <br>

      <ion-item>
        <ion-input formControlName="email" type="email" placeholder="Correo Electrónico" class="input"></ion-input>
      </ion-item>
      <div style="color:red; font-size: small;" *ngIf="registroForm.controls['email'].invalid && (registroForm.controls['email'].dirty || registroForm.controls['email'].touched)" class="alert alert-danger">
        <div style="color:red; font-size: small;" *ngIf="registroForm.controls['email'].errors.required">
          El correo electrónico es obligatorio.
        </div>
        <div *ngIf="registroForm.controls['email'].errors.email">
          Por favor, introduce un correo electrónico válido.
        </div>
      </div>
      <br>

      <ion-item>
        <ion-input formControlName="password" type="password" placeholder="Contraseña" class="input"></ion-input>
      </ion-item>
      <div style="color:red; font-size: small;" *ngIf="registroForm.controls['password'].invalid && (registroForm.controls['password'].dirty || registroForm.controls['password'].touched)" class="alert alert-danger">
        La contraseña es obligatoria.
      </div>
      <br>	

      <ion-button type="submit" [disabled]="!registroForm.valid" class="ion-padding" color="warning" fill="outline">
        Crear
      </ion-button>
    </form>

    <div class="signupLink">
      <p>¿Ya estás registrado? <a style="color: #f6bd00e8" [routerLink]="['/login']">¡Ingresa!</a></p>
    </div>
  </div>
</ion-content>